---
title: Computing
section: computing
---

%h1 Computing

%p
  I am a supporter of the open source movement, and contribute to (and use!)
  = succeed('.') do
    = link_to '//www.sagemath.org', target: '_blank' do
      Sage mathematics software

%h2 Talks

%p
  These are some expository computing-related talks I have given for fun!

%ul
  %li(itemscope itemtype="http://schema.org/CommunicateAction")
    %span(itemprop="name") What is open source?
    = surround('(', '),') do
      %span.month January
      %span.year 2016
    %span(itemprop="recipient" itemscope itemtype="http://schema.org/Organization")
      Faculty Colloquium at
      %span(itemprop="name") The King’s University

%h2 Code

= link_to "#{config[:base_href]}files/code/benford_integers.py" do
  Benford distribution checker (2013)

%h2 Books

%p
  Below is a list books I have read (most recent first).

%ul.books-list
  %li.book(itemscope itemtype="http://schema.org/Book")
    %span.title(itemprop="headline") Weapons of Math Destruction
    by
    = author_tag("Cathy O'Neill")
  %li.book(itemscope itemtype="http://schema.org/Book")
    %span.title(itemprop="headline") Shaping a Digital World
    by
    = author_tag('Derek Schuurman')
  %li.book(itemscope itemtype="http://schema.org/Book")
    %span.title(itemprop="headline") The Joy of Missing Out: Finding Balance in a Wired World
    by
    = author_tag('Christina Crook')
  %li.book(itemscope itemtype="http://schema.org/Book")
    %span.title(itemprop="headline") The Code Book
    by
    = author_tag('Simon Singh')

%h2 Undergraduate Student Projects

%p
  = link_to 'Stylometry (2015/2016)', 'computing/student_projects/stylometry'
%p
  = link_to '3D Printing (2015)', 'computing/student_projects/3d_printing'
