---
title: Math
section: math
---

%h1 Math

%p
  This page is dedicated to recreational math.
  = succeed('.') do
    =link_to('Go here for information about my research', 'research')


%h2 Talks

%p
  These are some expository math and math-related talks I have given for fun!

%ul
  %li
    Less vs. fewer, and other common mathematical writing errors (September 2015), Campus Alberta Writing Services
    (CAWS) Colloquium at The King’s University
  %li
    Cohen-Lenstra Heuristics (April 2013), University of Colorado graduate student colloquium
  %li
    Mahler Measure (February 2013), University of Colorado graduate student colloquium
  %li
    p-adic numbers (March 2012), University of Colorado graduate student colloquium
  %li
    Distribution of prime numbers (September 2010), University of Colorado graduate student colloquium



%h2 Books

%p
  Below is a list books I have read (most recent first). My favorites are preceded by an asterisk.

%ul
  %li
    Mathematics: An Illustrated History of Numbers by Tom Jackson
  %li
    Proofs and Refutations by Imre Lakatos
  %li
    *A Mathematician’s Lament by Paul Lockhart
  %li
    *The Code Book by Simon Singh
  %li
    A Mathematician’s Apology by G. H. Hardy
  %li
    Surreal Numbers by Donald Knuth
  %li
    Zombies and Calculus by Colin Adams
  %li
    *The Number Devil by Hans Magnus Enzensberger
  %li
    Flatland: A Romance of Many Dimensions by Edwin Abbott

%h2 Things I have written
%ul
  %li
    = link_to "#{config[:base_href]}files/publications/women_in_numbers_3_awm.pdf", target: '_blank' do
      An article on the Women in Numbers 3 (WIN3) conference for the AWM newsletter (2014)
  %li
    = link_to "#{config[:base_href]}files/publications/gauss's_genus_theory.pdf", target: '_blank' do
      Some thoughts on Gauss’s genus theory (2013)
  %li
    = link_to "#{config[:base_href]}files/publications/transcendental_number_theory_in_a_nutshell.pdf", target: '_blank' do
      A short introduction to transcendental number theory (2013)
